.product-div{
    border: 0.5px solid rgba(150, 147, 147, 0.132);
}

.product-div:hover .hover-btn {

    visibility:visible;
    
 }



.all-products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.img-div{
    width: 271px;
    margin: auto;
    height: 223px;
}
.img-div>img{
    height: 100%;
}
.name{
    font-size: 14px;
    
}
.wish{
    display: flex;
    justify-content: end;
    padding: 7px;
}
* {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
.tag{
    font-size: 11.9px;
    color: rgba(144, 144, 144, 0.51);
    font-weight: bold;
    margin: 7px;
}
.price{
font-size: 11.9px;
margin-top: 18px;
font-weight: bold;
}
.store{
    font-size: 11.9px;
    color: rgba(144, 144, 144, 0.51);
    font-weight: bold;
    margin: 7px;
}
.pag-div{
    display: flex;
}

.pag{
    margin-left: 500px;
}

.div-main{
    padding-top: 20px;
    
}

.options{
    width: 85px;
    font-weight: bold;
    font-size: 11px;
    
}

.view-sort{
    padding-right: 7px;
}

.sort-div
{
    margin-left: 30%;
}

.hover-btn{
    visibility: hidden;
    display: flex;
    justify-content: center;
}

.btn2{
    background-color: rgba(195, 194, 194, 0.116);
    border: 1px solid black;
    width: 80%;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}
